* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
* a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

* li{
    list-style: none;
}

.container {
    min-height: 120vh;
    padding-bottom: 50px;
    margin: 0 auto;
    position: fixed;
    width: 85%;
    top: 0;
}
body{
    background: black;
}

.menu{
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.logo{
    font-size: 2rem;
    color: white;
}

.menu ul{
    display: flex;
    align-items: center;
    background: white;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 10px;
}
.menu ul li{
    padding: 0 17px;
}
.menu ul li a{
    font-weight: bold;
    color: black;
    font-size: 14px;
}
* a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    background-image: linear-gradient(to tight,#2aba4d,#12a2af);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 25px;
}
* a:hover:after{
    width: 50%;
}
.content{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.content .header,.grid-card{
    width: 50%;
    position: relative;
}
.content .header h2{
    font-size: 3rem;
}
.content .header p{
    opacity: .7;
}
.content .header{
    color: white;
    padding: 80px;
}
.grid-card{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
}

.grid-card h2{
    color: white;
}
.grid-card .box{
    width: 110%;
    height: 230px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    transition: .4s;
    position: relative;
}
.bg1{
    background-image: url(images/sun.png);
}
.bg2{
    background-image: url(images/mercury.png);
}
.bg3{
    background-image: url(images/venus.png);
}
.bg4{
    background-image: url(images/earth.png);
}
.bg5{
    background-image: url(images/moon.png);
}
.bg6{
    background-image: url(images/mars.png);
}
.bg7{
    background-image: url(images/jupiter.png);
}
.bg8{
    background-image: url(images/saturn.png);
}
.bg9{
    background-image: url(images/uranus.png);
}
.bg10{
    background-image: url(images/neptune.png);
}
.bg11{
    background-image: url(images/pluto.png);
}
.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7, .bg8, .bg9, .bg10, .bg11 {
    max-width: 100%; /* Adjust the percentage or value based on your preference */
}
.content .box h2{
    position: absolute;
    bottom: 7px;
    left: 15px;
}
.content .box:hover{
    transform: translateY(-15px);
}
.header button{
    border: solid 3px white;
    background: none;
    color: white;
    font-size: 1.5rem;
    padding: 5px 60px;
    margin: 10px 0;
}
.header button:hover{
    background: white;
    color: black;
}