<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="container
    bg"></div>

        <div class="menu">
            <div class="logo">
                <a href=""><i class="fa-solid fa-rocket"></i>
                </a>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/system">Solar System</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="header">
                <h2><i class="fa-brands fa-space-awesome"></i>Go</h2>
                <h2>_To_</h2>
                <h2>Solar</h2>
                <h2>System</h2>
                <p>The Solar System is the gravitationally bound system of the Sun and the objects that orbit it. The largest of these objects are the eight planets, which in order from the Sun are four terrestrial planets (Mercury, Venus, Earth and Mars); two gas giants (Jupiter and Saturn); and two ice giants (Uranus and Neptune). The Solar System developed 4.6 billion years ago when a dense region of a molecular cloud collapsed, forming the Sun and a protoplanetary disc. All four terrestrial planets belong to the inner Solar System and have solid surfaces. Inversely, all four giant planets belong to the outer Solar System and do not have a definite surface, as they are mainly composed of gases and liquids. 99.86% of the Solar System's mass is in the Sun and nearly 90% of the remaining mass are in Jupiter and Saturn. There is a strong consensus among astronomers that the Solar System also has nine dwarf planets, which consist of one asteroid-belt object – Ceres; five Kuiper-belt objects – Pluto, Orcus, Haumea, Quaoar, and Makemake; and three scattered-disc objects – Gonggong, Eris, and Sedna.</p>
            </div>
            <div class="grid-card">
                <a href="/sun" class="box bg1">
                    <h2>Sun</h2>
                </a>
                <a href="/mercury" class="box bg2">
                    <h2>Mercury</h2>
                </a>
                <a href="/venus" class="box bg3">
                    <h2>Venus</h2>
                </a>
                <a href="/earth" class="box bg4">
                    <h2>Earth</h2>
                </a>
                <a href="/moon" class="box bg5">
                    <h2>Moon</h2>
                </a>
                <a href="/mars" class="box bg6">
                    <h2>Mars</h2>
                </a>
                <a href="/jupiter" class="box bg7">
                    <h2>Jupiter</h2>
                </a>
                <a href="/saturn" class="box bg8">
                    <h2>Saturn</h2>
                </a>
                <a href="/uranus" class="box bg9">
                    <h2>Uranus</h2>
                </a>
                <a href="/neptune" class="box bg10">
                    <h2>Neptune</h2>
                </a>
                <a href="/pluto" class="box bg11">
                    <h2>Pluto</h2>
                </a>
            </div>
        
</body>
</html>