<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="sun">
            <img src="/static/images/sun.png" alt="">
        </div>
        <div class="mercury">

        </div>
        <div class="venus">
            
        </div>
        <div class="earth">
            <div class="moon"></div>
        </div>
        <div class="mars">

        </div>
        <div class="jupiter">

        </div>
        <div class="saturn">

        </div>
        <div class="uranus">

        </div>
        <div class="naptune">

        </div>
        <div class="pluto">

        </div>
    </div>

    <script src="/static/script.js"></script>

</body>
</html>